@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .mylink {
    @apply px-1 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] 
              before:bottom-0 before:left-0 before:bg-black
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-300;
  }

  .section-container {
    @apply max-w-6xl mx-auto text-center px-10;
  }

  .section-content {
    @apply max-w-3xl mx-auto text-2xl text-grayishBlue;
  }

  .section-title {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  .button-container {
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
  }
}
